.login {
  padding: 60px 0;
  height: 100vh;
  width: 100%;
  background: #005cb9;
}

.login form {
  margin: 0 auto;
  max-width: 320px;
}

form {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.5);
}
